<?php

return [
    'domain' => 'test1.amocrm.ru', // Ваш домен AmoCRM
    'client_id' => '123', // ID интеграции
    'client_secret' => '456', // Секретный ключ интеграции
    'redirect_uri' => 'http://redirect.test.com/', // URL редиректа
    'code' => '789abc', // Код авторизации
]; 